@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');
body {
    background-image: url("./recursos/fondo.png");
    background-size: 40%;
    overflow-x: hidden;
    overflow-y: scroll;
}

header {
    background-color: rgb(118, 134, 254);
    padding: 2rem;
    position:sticky;
    top:0px;
    z-index: 100;
}

.barra_navegacion_div {
    width: 100vw;
    height: 10vh;
    margin: 0 auto;
}

.logo {
    width: 10%;
}

nav {
    position: absolute;
    top: 40%;
    right: 5%;
}

nav li {
    display: inline;
}

nav a {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5rem;
    color: black;
    text-transform:lowercase;
    font-weight: bold;
    text-decoration: underline;
}

nav a:hover {
    color: white;
}

nav a:active {
    color: rgb(255, 225, 0);
}
/*termina navbar*/
/*inicia main*/
main {
    display: flexbox;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 20px;
    margin-right: 20px;
}

.input_area {
    margin: 0 10vh;
}

.label_texto_input {
    color: rgb(0, 0, 0);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    font-size: 2rem;
    font-weight:bolder;
}

.texto_input {
    display: flex;
    resize: none;
    border: none;
    background-color: white;
    text-transform: lowercase;
    color: rgb(54, 21, 146);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.texto_input:focus {
    outline-color: red;
}

.añadidos_input {
    display: flex;
    margin-top: 50px ;
}

.details_texto_input {
    display: block;
    color: rgb(0, 0, 0);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    font-weight: bold;
}

.boton_encriptar {
    width: 10%;
    padding: 15px 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: rgb(255, 201, 24);
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor:pointer;
    margin: 50px 20px 0 -280px;
}

.boton_encriptar:hover {
    background-color: rgb(255, 170, 0);
    transform: scale(1.20);
    box-shadow: 5px 5px 10px black;
}

.boton_desencriptar {
    width: 10%;
    padding: 15px 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: rgb(255, 201, 24);
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
    margin: 50px 20px 0 100px;
}

.boton_desencriptar:hover {
    background-color: rgb(255, 170, 0);
    transform: scale(1.20);
    box-shadow: 5px 5px 10px black;
}

.texto_output {
    position: relative;
    right: -45vw;
    top: -40vh;
    resize: none;
    background-color: white;
    background-image: url(./recursos/click.png);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    border: none;
    text-orientation: sideways-right;
    margin-left: 200px;
}

.texto_output:focus {
    outline-color: blue;
}

::placeholder {color: blue; font-family: 'Source Sans Pro', sans-serif; font-size: 20px;}

.copiar {
    position: absolute;
    top:70vh;
    right: 30vw;
    width: 10%;
    padding: 15px 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: rgb(255, 201, 24);
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.copiar:hover {
    background-color: rgb(255, 170, 0);
    transform: scale(1.10);
    box-shadow: 5px 5px 10px black;
}


/*termina main*/
/*empieza footer*/
footer {
    position:fixed;
    bottom: 0;
    width: 100vw;
    height: 5vh;
    text-align: center;
    background-color: rgb(227, 4, 4);
    padding: 20px;
}

footer p {
    color: rgb(255, 255, 255);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    margin: 10px auto 0px
}
